NUXT_QUI_PROXY_URL=http://localhost:7476/proxy/YOUR_PROXY_KEY_HERE

NUXT_SESSION_PASSWORD=change_this_to_random_32_chars_min

NUXT_JELLYFIN_URL=http://localhost:8096
NUXT_JELLYFIN_API_KEY=your-jellyfin-api-key-here
NUXT_JELLYFIN_PREP_SPEED_MB=10

NUXT_SAVE_PATH_MOVIES=/mnt/storage/streaming/Movies
NUXT_SAVE_PATH_SERIES=/mnt/storage/streaming/Series
NUXT_SAVE_PATH_GAMES=/mnt/storage/streaming/Games
NUXT_SAVE_PATH_BOOKS=/mnt/storage/streaming/Books
NUXT_SAVE_PATH_MUSIC=/mnt/storage/streaming/Music
